<div class="contenedor">
  <h1 class="text-center">Asigne una cita</h1>
  <form [formGroup]="form" class="mt-5">
    <div class="form-group">
      <label class="label">Elige el tratamiento que desea recibir</label>
      <mat-form-field>
        <mat-select formControlName="tratamiento">
          <mat-option
            *ngFor="let tratamiento of tratamientosComponent.tratamientos"
            [value]="tratamiento.nombre"
          >
            {{ tratamiento.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label class="label">Elige una fecha</label>
      <mat-form-field>
        <input matInput [matDatepicker]="dp" formControlName="fecha" />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
        <mat-hint class="form-text text-muted">MM, DD, YYYY</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label class="label">Elige la Hora</label>
      <mat-form-field>
        <mat-select formControlName="hora">
          <mat-option
            *ngFor="let hora of horas"
            [value]="hora"
          >
            {{ hora }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="onSubmit()"
    >
      Selecciona fecha y tratamiento
    </button>
  </form>
</div>
