<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="title">Sobre Nosotros</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Misión</h5>
          <p class="card-text">En Clinica Dental Azteca, nuestra misión es brindar una atención dental excepcional y personalizada a nuestros pacientes...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text">Nuestra visión en Clinica Dental Azteca es convertirnos en la clínica dental líder en México...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p class="card-text">1. Excelencia<br>2. Integridad<br>3. Cuidado personalizado<br>4. Innovación<br>5. Compromiso comunitario</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class=" mapa col-md-8">
      <iframe src="https://www.google.com/maps/embed?pb=!4v1685971774105!6m8!1m7!1sdSPc6Wzvuzvnh9mcp_8mAQ!2m2!1d19.4928615334017!2d-99.02548100005713!3f133.95259186606245!4f-2.387310045588791!5f0.7820865974627469" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
