<div class="map-container">
  <h2 class="title">Sobre Nosotros</h2>
  <p class="description">Aquí puedes escribir una descripción sobre la clínica dental y el tipo de servicios que ofrecen.</p>
  <iframe src="https://www.google.com/maps/embed?pb=!4v1684760620903!6m8!1m7!1sdSPc6Wzvuzvnh9mcp_8mAQ!2m2!1d19.4928615334017!2d-99.02548100005713!3f145.88000110076362!4f3.9556550191741877!5f0.7820865974627469" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
