.container
{
  display: flex;
  flex-direction: column;
}
.tabla1{
  width: 40%;
}
.tabla2{
  width: 40%;
  margin-top: 50px;
}

.verde{
  background-color: green;
  margin-right: 10px;
}
.rojo{
  background-color: red;
}
