<div class="container">
  <div class="tabla1">
    <h1>Todos los clientes</h1>

    <table mat-table [dataSource]="clientes" class="mat-elevation-z8">
      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsClientes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsClientes"></tr>
    </table>
  </div>
  <div class="tabla2">
    <h1>Todas las citas</h1>

    <table mat-table [dataSource]="citas" class="mat-elevation-z8">
      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">
          {{ obtenerFechaLegible(element.fecha) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let element">{{ element.hora }}</td>
      </ng-container>

      <ng-container matColumnDef="tratamiento">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.tratamiento }}</td>
      </ng-container>

      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef>idCliente</th>
        <td mat-cell *matCellDef="let element">{{ element.idCliente }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef=>Aceptar/rechazar</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="setCita(element.id, true)" mat-button class="verde">
          <mat-icon>done</mat-icon>
        </button>

        <button  (click)="setCita(element.id, false)" mat-button class="rojo">
          <mat-icon>cancel</mat-icon>
        </button>

      </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsCitas"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsCitas"></tr>
    </table>
  </div>
</div>
