.navbar {
  background-color: transparent !important;
  z-index: 1;
  font-weight: bold;
  position: absolute;
 }

 .header-registro{

  background-color: #009ad5;


 }


footer{
  position:sticky;
  width: 100%;
  height: 250px;
}
@media (max-width :407px){
  footer{
    text-align: center;
  }
}
