<header [ngClass]="headerClass" class="navbar navbar-expand-lg navbar-light">
  <div class="container d-flex align-items-center ms-3">
    <a class="navbar-brand ms-auto" href="#">
      <img src="./assets/img/logo11.png" width="150" height="150" alt="Logo" />
    </a>

    <a
      class="navbar-brand text-white"
      href="#"
      style="font-size: 46px; font-weight: bold"
      >Centro Dental Azteca</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink=""> <mat-icon>apps</mat-icon>Inicio</a>
        </li>
        <ng-container *ngIf="!(user$ | async) as user">
          <li class="nav-item">
            <a class="nav-link" routerLink="registro"
              ><mat-icon>account_circle</mat-icon>Registrarse</a
            >
          </li>

        </ng-container>
        <ng-container *ngIf="(user$ | async) as user">
          <li class="nav-item">
            <a class="nav-link" routerLink="pedir-cita"
              ><mat-icon>calendar_today</mat-icon>Citas</a
            >
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="tratamientos"
            ><mat-icon>favorite</mat-icon>Tratamientos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sobre-nosotros"
            ><mat-icon>tag_faces</mat-icon>Sobre Nosotros</a
          >
        </li>
        <ng-container *ngIf="admin$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="administrar"
              ><mat-icon>book</mat-icon>Administrar</a
            >
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="user$ | async as user">
        <div class="box-avatar">
          <img
            src="./assets/img/avatar2.png"
            class="avatar-pic"
            (click)="logoutSession()"
          />
          <h1 class="name">{{ user.displayName }}</h1>
        </div>
      </ng-container>
    </div>

    <button
      *ngIf="!(user$ | async)"
      class="custom-button"
      (click)="moverALogin()"
    >
      Iniciar sesión
    </button>
  </div>
</header>

<router-outlet></router-outlet>
<div class="pie">
<footer class="footer mt-5 bg-dark text-light">
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-md-4">
        <h6>Datos de contacto:</h6>
        <p>
          Dirección: Calle Atlacomulco, Estado de Mexico, Ecatepec de Morelos
        </p>
        <p>Teléfono: 650-30-66-86</p>
        <p>Email: info@clinicadental.com</p>
      </div>
      <div class="col-md-4">
        <h6>Horario de atención:</h6>
        <p>Lunes a viernes: 9:00 a.m. - 21:00 p.m.</p>
        <p>Sábados: 9:00 a.m. - 21:00 p.m.</p>
        <p>Domingos: 9:00 a.m. - 21:00 p.m.</p>
      </div>
      <div class="col-md-4">
        <h6>Síguenos en redes sociales:</h6>
        <ul class="list-unstyled d-flex justify-content-start">
          <li>
            <a href="https://www.facebook.com/profile.php?id=100093152713657" target="_blank">
              <img
                src="./assets/img/facebook.png"
                width="30"
                height="30"
                alt="Facebook Logo"
              />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/cda1991/" target="_blank">
              <img
                src="./assets/img/instagram.png"
                width="30"
                height="30"
                alt="Instagram Logo"

              />

            </a>
          </li>
          <li>
            <a href="https://twitter.com/edufardo10" target="_blank">
              <img
                src="./assets/img/twitter.png"
                width="30"
                height="30"
                alt="Twitter Logo"

              />
            </a>

          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row align-items-center">
      <div class="col-md-2">
        <img
          src="./assets/img/logo21.png"
          width="80"
          height="80"
          alt="Tu Logo Pequeño"
        />
      </div>

      <div class="col-md-2">
        <img src="./assets/img/logo22.png" width="80" height="80" alt="Logo" />
      </div>

      <div class="col-md-2">
        <img src="./assets/img/logo15.png" width="80" height="80" alt="Logo" />
      </div>

      <div class="col-md-2">
        <img src="./assets/img/logo19.png" width="80" height="80" alt="Logo" />
      </div>

      <div class="col-md-2">
        <img src="./assets/img/logo13.png" width="80" height="80" alt="Logo" />
      </div>

      <div class="col-md-2">
        <img src="./assets/img/logo26.png" width="80" height="80" alt="Logo" />
      </div>
    </div>
  </div>
</footer>
</div>
