.navbar {
  background-color: transparent !important;
  z-index: 1;
  font-weight: bold;
}
.navbarnew {
  background-color: #0cbfd7 !important;
  z-index: 1;
  font-weight: bold;
  width: 100%;
}
.custom-button {
  background-color: white;
  color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: -500px;
  z-index: -100;
}
.custom-button:hover {
  background-color: lightblue;
}


footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.avatar-container {
  display: inline-block;
  text-align: left;


}


.avatar-pic {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;




}



.name{
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white
}
.box-avatar{

  margin-right: -470px;
  margin-bottom: 20px;
  text-align: center;

}

  .registro {

    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }


@media (max-width: 407px) {
  footer {
    text-align: center;
  }
}
