.mat-card {
  width: calc(33.33% - 10px); /* Ancho de las tarjetas medias con margen */
  margin: 5px; /* Espacio entre las tarjetas */
}

.medium-card {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

h2 {
  text-align: center;
}

.tratamiento-imagen {
  width: 80%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

