.container-full {

  position: relative;

}

.carousel,
.carousel-inner,
.carousel-item {
  height: 90vh;
 width: 100vw;
;



}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.display-4 {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
}
.tu-clinica {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}





.custom-card {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}
