.container-full {
  margin-top: -200px;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 90vh;
  width: 100vw;
  z-index: -1;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.display-4 {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
}
.tu-clinica {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid black;
}

.custom-card {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.card-title{
  font-weight: bold;
  font-size: 30px;
  margin-top: 3px;
}
.card {
  border: 2px solid black;
}

.card-text-opinion
{
font-size: 18px;
margin-top: 5%;
}
.star{
  width: 200px;
  height: 120px;


}
.star-name{
align-items: center;
 display: flex;

}
