
.form-field{
  width: 1500px;

  margin-left: -550px;

}
.text-center{
  color: black;
  font-size: 29px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: -790px;
 text-decoration: underline;

}

.button{
  width: 500px;
  height: 50px;
}

.custom-snackbar {
  background-color: green;
  color: white;
}
