.form-card {
  margin: 0 auto;
  max-width: 700px;
  padding: 16px;
}
.mat-elevation-z4{

  margin-top: 10px;
  margin-left:75px ;
}


.form-card-title {
  font-weight: bold;
}

.form-field {
  width: 100%;
  margin-left: 8px;
}

.form-button {
  width: 100%;
  margin-top: 16px;
}

::ng-deep .mat-mdc-snack-bar-container.verde {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-container-color: #177d00;
  --mdc-snackbar-supporting-text-color: rgba(92, 20, 73, 0.87);
}


::ng-deep .mat-mdc-snack-bar-container.rojo {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-container-color: #c32f02;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
}
