
.form-field{
  width: 1500px;

  margin-left: -550px;

}
.text-center{
  color: black;
  font-size: 29px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: -790px;
 text-decoration: underline;

}

.button{
  width: 500px;
  height: 50px;
}

::ng-deep .mat-mdc-snack-bar-container.verde {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-container-color: #177d00;
  --mdc-snackbar-supporting-text-color: rgba(92, 20, 73, 0.87);
}


::ng-deep .mat-mdc-snack-bar-container.rojo {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-container-color: #c32f02;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
}
